<% include partials/header %>

<div class="jumbotron">
  <h1 class="about-sm-h1">Contact</h1>
  <div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
        <h3 class="about-sm-h3">Email Us</h3>
      <p class="about-sm-p">We trying to answer all the question as fast as we can</p>
      <p class="about-sm-p">Email Us to: b*****@gmail.com</p>
    
  </div>
  </div>
</div>

<div class="fixed-bottom">
    <p class="container">
        <a class="btn btn-primary btn-lg" href="/index" role="button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </p>
<% include partials/footer %>
</div>


