<% include partials/header %>

<div class='container-fluid container_landing'>
   <div class='row'>
      <div class='col-lg-12'>
         <div id='content'>
            <h1>Coding after 40</h1>
               <h3>Good to Code</h3>
               <hr class="hr-landing">
               <a href="/index" class="btn-landing btn btn-lg btn-secondary"><i class="fa fa-users" aria-hidden="true"></i> Get Started!</a>
         </div>
            
         </div><!-- /row -->
   </div><!-- /col-lg-12 -->
</div><!-- /container -->

<% include partials/footer %>